<div class="container-fluid bg-tertiary ps-5 pe-3 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-md-6 text-center text-lg-start mb-0">
            <div class="d-inline-flex align-items-center">
                <a class="text-white px-1" href=""><i class="fab fa-youtube fa-sm"></i></a>
                <a class="text-white px-1" href=""><i class="fab fa-facebook-f fa-sm"></i></a>
                <a class="text-white px-1" href=""><i class="fab fa-instagram fa-sm"></i></a>
            </div>
        </div>
        <div class="col-md-6 text-center text-lg-end">
            <div class="position-relative d-inline-flex align-items-center">
                <a href="https://poltekkes-banjarmasin.ac.id/" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-outline-light text-white fw-bold px-2 border-2" style="background: transparent !important; border-color: #fff !important;" onmouseover="this.style.borderColor='var(--secondary)'; this.style.color='var(--secondary)'" onmouseout="this.style.borderColor='#fff'; this.style.color='#fff'">
                    <i class="fa fa-external-link-alt me-2"></i>Website Kampus
                </a>
            </div>
        </div>
    </div>
</div>
